{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "object-curly-spacing": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
  	"semi": ["warn", "never"],
    "arrow-parens": ["warn", "as-needed"],
    "func-names": "off",
    "space-before-function-paren": ["error", "never"],
    "max-len": ["error", 120, 4],
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "import/prefer-default-export": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "ignore"
    }]
  }
}
